body{
    background-image: url('/images/121005948.jpg');
}



h1 {
    color: #428bdf;
    font-size: 50px;
    font-weight: bolder;
    font-family: fantasy;
    font-style: oblique;
    margin-top: 100px;
    position: absolute;
    left: 20px; 
    top: 20px; 
    z-index: 999; 
}



nav {
    background-color: #489cd4;
    border-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    position: absolute;
    left: 0px; 
    right: 1px;
    z-index: 999; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    text-align: center;
    margin: 0 10px;
}

li a {
    display: block;
    font-size: larger;
    font-weight: bolder;
    color: white;
    text-align: center;
    text-decoration: none;
}



#bookDropdown{
    position: relative;
    left: 470px; 
    top: 80px; 
    z-index: 999;
    font-size: larger;
    font-family: fantasy;
    font-style: oblique;
    font-weight: bolder;
  }

/* #addNewBook{
    color: black;
    position: relative;
    left: 490px; 
    top: 60px; 
    z-index: 999;
    font-size: larger;
    font-family: fantasy;
    font-weight: bolder;
  } */
  
  #addNewBook {
    color: black;
    position: relative;
    left: 485px; 
    top: 60px; 
    z-index: 999;
    display: inline-block;
    padding: 5px 10px;
    background-color: #72cbff;
    font-weight: bolder;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  #addNewBook:hover {
    background-color: #ccc;
  }


#bookDetails {
    position: relative;
    left: 480px; 
    top: 120px; 
    z-index: 999;
    max-width: 90%;
    font-size: larger;
    font-family: fantasy;
    font-style: oblique;
    font-weight: bolder;
}


#EditButton {
    width: 15%;
    padding: 5px;
    background-color: #428bdf;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#EditButton:focus {
    outline: none; 
}


#successMsg {
    color: rgb(30, 107, 27);
    position: relative;
    left: 430px; 
    top: 200px; 
    z-index: 999;
    border-radius: 6px;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  



#editFormContainer {
    position: relative;
    left: 370px; 
    top: 200px; 
    z-index: 999;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
  }
  
#editFormContainer input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
  }
  
#editFormContainer input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #428bdf;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
#editFormContainer input[type="submit"]:hover {
    background-color: #3272b1;
  }


.year-error {
    color: rgb(129, 55, 55);
    border-radius: 6px;
    font-weight: bolder;
   }
  

.isbn-error {
    color: rgb(129, 55, 55);
    border-radius: 6px;
    font-weight: bolder;
   }


.title-error {
    color: rgb(129, 55, 55);
    border-radius: 6px;
    font-weight: bolder;
   }

  



.field-details-icon {
    cursor: pointer;
    position: relative;
    left: 380px; 
    top: -45px; 

}

.field-details-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 150%;
    padding: 10px;
    background-color: #f9f9f9;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    /* z-index: 999; */
}

.field-details-popup.show {
    display:contents;
}