@page
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}




<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Index.css" />
    <script src="/js/Books.js"></script>


    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#" onclick="loadBooks()" >Books</a></li>
            <li><a href="/authors">Authors</a></li>
        </ul>
    </nav>
   <h1>MyLibrary</h1>
    <a id="addNewBook" style="display: none;" onclick="handleAddNewBookClick()">Add a new book</a>
        <div id="fieldDetailsPopupContainer"> </div>
    <select id="bookDropdown" style="display: none;" ></select> 
    <div id="bookDetails"></div>
    <p id="successMsg" style="display: none;"></p>

    <div id="editFormContainer">
    </div> 
    <div class="error-message title-error"></div>
<div class="error-message isbn-error"></div>
<div class="error-message year-error"></div>

</body>
</html>


